.Main{
    background-color: papayawhip;
    height:105vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Main>h2{
    color: black;
}
.LoginButton{
    height:6vh;
    width:10vh;
    background-color: black;
    color:white;
    font-weight: bolder;
    font-style: normal;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
.RegisterButton{
    height:6vh;
    width:10vh;
    background-color: black;
    color:white;
    font-weight: bolder;
    font-style: normal;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.LoginForm{
    align-items: center;
    width:470px;
    padding-top:30px;
}

.RegistrationForm{
    align-items: center;
    width:470px;
    padding-top:30px;
}
.navbar{
    display: flex;
    flex-direction: row;
    font-family: 'Candal', sans-serif;
    font-weight: bold;
    margin:2;
    background-color: ghostwhite;
    height: 4vh;
    padding: 2vh;
    flex-wrap: wrap;
}