.userName{
    text-align:right;
    font-weight: bold;
    font-family: Arial;
    font-size: large;
    width:200px;
    padding:2vh;
}

.todoContainer {
    color: white;
    position: absolute;
    top:50%;
    left: 50%;
    padding: 20px;
    width: 120vh;
    transform: translate(-50%,-50%);
    background-color:lightslategray;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.textField {
    width:95vh;
    height:5vh;
    font-weight: bolder;
    font-style: normal;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

}
.AddButton {
    height:5vh;
    width:10vh;
    background-color: black;
    color:white;
    font-weight: bolder;
    font-style: normal;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
.Enter {
    width:90vh;
    height:5vh;
    font-weight: bolder;
    font-style: normal;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
.todoContainer ul {
    list-style: none;
}
.todo-list-item-name{
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    font-family: 'Candal', sans-serif;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: row;
    width:100vh;
}
.todo-list-item-name button {
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    font-family: 'Candal', sans-serif;
    background-color: rgb(51, 212, 100);
}
.todo-list-item-name .cancel {
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    font-family: 'Candal', sans-serif;
    background-color: rgb(223, 43, 43);
    margin-left: 5px;
}
.editField {
    font-family: 'Candal', sans-serif;;
    display: flex;
    flex-direction: row;
    width:95vh;
}
.todoButtons{
    display: flex;
    flex-direction: row;
    width:25vh;
    left:80%;
}
.EditButton{
    height:5vh;
    width:10vh;
    background-color: black;
    color:white;
    font-weight: bolder;
    font-style: normal;
    margin-right: 10px;
    cursor:pointer;
    text-decoration: none;
}
.DeleteButton{
    height:5vh;
    width:10vh;
    background-color: black;
    color:white;
    font-weight: bolder;
    font-style: normal;
    margin-right: 10px;
    cursor:pointer;
    text-decoration: none;
}
